.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: space-between;

  width: 250px;
  height: 250px;

  border: solid, grey, 5px;
  border-radius: 25%;
  background-color: khaki;
  margin: 15px;
}
